body{
background:#00706C;
font-family: Arial, Helvetica, sans-serif;
}


.assignments{
    display:flex;
    flex-wrap: wrap;


}
.assignment{
    width:25%;
    padding:10px;
    margin: 18px;
    background-color: #004E59;
    border-radius: 8px;
    box-shadow: 5px 10px #002a30 ;
}
.assignment img {
    width: 150px;
    padding: .5px;
    border: 3px solid #F58C47;
    margin-right: 20px;
    border-radius: 8px;
    display: block;
    margin: auto;
}
   

h1{
    color:#F06E3E;
    text-align: center;
}
a{
    text-decoration: none;
    color: #EDDA9D;
}

.assignment h2:hover
{
color: darkred;
}